body {
    background-image: url(../images/background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background .3s;
}

.content-wrapper, .main-footer, .main-header {
    margin-left: 0 !important;
}