{% extends "admin/base.html" %}

{% block footer %}
    {% if not is_popup %}
        <footer class="main-footer {{ jazzmin_ui.footer_classes }}">
                <div class="float-right d-none d-sm-inline">
                    г. Москва
                </div>

                <strong>&copy; {% now 'Y' %} {{ jazzmin_settings.copyright }}.</strong>

        </footer>
        {% if jazzmin_settings.show_ui_builder %}
            {% include 'jazzmin/includes/ui_builder_panel.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        window.onload = function () {
            $('#jazzy-navbar').css('margin-left', '0px');
            $('.content-wrapper').css('margin-left', '0px');
            $('.main-footer').css('margin-left', '0px');
        };
    </script>
{% endblock %}